n8n-workflows/briefing-push.json
{
  "name": "Briefing Push",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 07:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "cat /data/ai-agents/profiles/briefing.md"
      },
      "id": "read-briefing",
      "name": "Read Briefing",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract headline and action items for mobile-friendly format\nconst md = $input.first().json.stdout;\nconst lines = md.split('\\n');\n\n// Find headline (first ## heading)\nlet headline = '';\nlet actionItems = [];\nlet inActions = false;\n\nfor (const line of lines) {\n  if (line.startsWith('## ') && !headline && !line.includes('Stats') && !line.includes('Action')) {\n    headline = line.replace('## ', '');\n  }\n  if (line.includes('## Action Items')) {\n    inActions = true;\n    continue;\n  }\n  if (inActions && line.startsWith('- **')) {\n    actionItems.push(line.replace(/\\*\\*/g, '').trim());\n  }\n  if (inActions && line.startsWith('## ')) {\n    inActions = false;\n  }\n}\n\nlet message = `*${headline}*\\n`;\nif (actionItems.length > 0) {\n  message += '\\nAction Items:\\n';\n  actionItems.forEach(a => message += `${a}\\n`);\n} else {\n  message += '\\nNo action items.';\n}\n\nreturn [{ json: { message, headline } }];"
      },
      "id": "format-mobile",
      "name": "Format for Mobile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily 07:15": {
      "main": [
        [
          {
            "node": "Read Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Briefing": {
      "main": [
        [
          {
            "node": "Format for Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Mobile": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "local"
  },
  "tags": [
    {
      "name": "multi-channel"
    }
  ]
}
